@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Pangolin');
body {
	font-family: 'Pangolin', cursive;
	background: linear-gradient(red, orange);
}

#title{
	font-family: 'Ubuntu', sans-serif;
	color: #008cff;
	text-align: center;
	border-width: 5px;
	border-color: red;
}

.img_show{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.text_norm{
	color: white
}

.caption_norm {
	text-align: center;
	border-style: dotted;
    border-width: 5px;
	border-color: black;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	color: #00ffa9;
}
.button1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;

}